.container-btt-meals {
  margin-bottom: 15px;
  width: 100vw;
}

.icons-search-meals {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  width: 96%;
}

.icon-recipes {
  background: none;
  border: none;
  width: 15%;
}
