* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("Images/image6.gif");
  background-size: 100%;
}

#title {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
}

#color-palette {
    display: flex;
    justify-content: center;
}

.color {
    padding: 15px;
    width: 30px;
    height:30px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid black;
  }

  #pixel-board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 41%;
    margin-top: 40px;
    border: 1px solid black;
    height: 365px;
    width: 365px;
  }
  .pixel {
    border: 1px solid black;
    padding: 15px 15px;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: white;
  }

/* #button-random-color {
  margin-left: 35%;
  margin-top: 30px;
  display: inline-block;

} */

.btn {
  padding: 5px;
  border: 10px;
  cursor: pointer;
  margin-right: 20px;
}

#botoes {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
